.quienes {
    padding: 20px;
    max-width: 600px; /* o width: 600px; si prefieres un ancho fijo */
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.vision, .mision {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    color: #007bff;
    margin-top: 50px;
    padding-top: 50px;
}

p {
    margin-bottom: 20px;
}
