.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: #F7C295;
}
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}