/* Estilos específicos de la página "Nosotros" */
.content {
    background-color: #e6f7ff; /* Cambia el fondo del contenido */
    color: #333; /* Cambia el color del texto */
}

.content h1 {
    color: #008CBA; /* Cambia el color del título */
}

.content p {
    font-size: 16px; /* Cambia el tamaño del texto */
    /* Agrega cualquier otro estilo específico que desees */
}
